/* stylelint-disable docusaurus/copyright-header */

@font-face {
	font-family: 'Electro Shackle';
	src: url('/static/fonts/Electro Shackle.woff') format('woff');
}
@font-face {
	font-family: 'Greenscr';
	src: url('/static/fonts/Greenscr.woff') format('woff');
}

:root {
	--ifm-color-primary: #ff006c;
	--ifm-color-primary-lightest: #ff4d98;
	--ifm-color-primary-lighter: #ff2682;
	--ifm-color-primary-light: #ff1a7b;
	--ifm-color-primary: #ff006c;
	--ifm-color-primary-dark: #e60061;
	--ifm-color-primary-darker: #d9005c;
	--ifm-color-primary-darkest: #b3004c;
	--ifm-code-font-size: 95%;
	--ifm-footer-background-color: #121212;
	--title-color: #ff006c;
	--ifm-toc-border-color: #ff006c;
}
html[data-theme='dark'] {
	--ifm-background-color: #000;
	--ifm-background-surface-color: #121212;
	--title-color: #ffca53;
}

.docusaurus-highlight-code-line {
	background-color: rgb(72, 77, 91);
	display: block;
	margin: 0 calc(-1 * var(--ifm-pre-padding));
	padding: 0 var(--ifm-pre-padding);
}

h1 {
	font-family: 'Electro Shackle', monospace;
	color: var(--title-color);
	text-shadow: var(--title-color) 0px 0px 5px;
	animation: flicker 1.5s forwards;
}

h2,
h3,
h4,
h5,
h6 {
	font-family: 'Greenscr', monospace;
}

.big {
	font-family: 'Electro Shackle', monospace;
	color: var(--title-color);
	text-shadow: var(--title-color) 0px 0px 5px;
	font-size: var(--ifm-h2-font-size);
}

.footer--dark {
	background-color: #121212;
	background-image: radial-gradient(
		circle at 65% 107%,
		rgba(255, 255, 68, 0.5) 0%,
		rgba(208, 0, 108, 0.5) 55%,
		black 70%
	);
}

.footer__item,
.footer__title {
	text-shadow: black 0px 0px 1px;
}

.markdown a,
.menu__link {
	font-family: 'Greenscr', monospace;
}

@keyframes flicker {
	3% {
		opacity: 0.1;
		text-shadow: 0px 0px 6px var(--title-color);
	}
	16% {
		opacity: 1;
		text-shadow: 0px 0px 6px var(--title-color);
	}
	23% {
		opacity: 0.3;
		text-shadow: 0px 0px 6px var(--title-color);
	}
	30% {
		opacity: 1;
		text-shadow: 0px 0px 6px var(--title-color);
	}

	70% {
		opacity: 0.7;
		text-shadow: 0px 0px 6px var(--title-color);
	}

	72% {
		opacity: 0.2;
		text-shadow: 0px 0px 6px var(--title-color);
	}

	77% {
		opacity: 0.9;
		text-shadow: 0px 0px 6px var(--title-color);
	}
	100% {
		opacity: 1;
		text-shadow: 0px 0px 6px var(--title-color);
	}
}
